body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--button-font-family, Roboto, Helvetica, sans-serif);
  overflow: hidden;
  background-color: rgb(234, 234, 245);
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(61, 60, 60);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48;
    color: blue;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


button{
  cursor: pointer;
}
